<!DOCTYPE html>
<html>
<head>
    <title>GenAI-Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<div>
        <h1 align="center"><b>AI-Gen ChatBot</b></h1>
        <div class="boxed">
            <div>
              <div id="userInput">
                  <input id="textInput" type="text" name="msg" placeholder="Message" />
              </div>
            </div>
            <script>
                function getBotResponse() {
                    var rawText = $("#textInput").val();
                    var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
                    $("#textInput").val("");
                    $("#chatbox").append(userHtml);
                    document
                        .getElementById("userInput")
                        .scrollIntoView({ block: "start", behavior: "smooth" });

                    $.get("/get", { msg: rawText }).done(function (data) {
                        var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                        $("#chatbox").append(botHtml);
                        document
                            .getElementById("userInput")
                            .scrollIntoView({ block: "start", behavior: "smooth" });
                    });
                }
                $("#textInput").keypress(function (e) {
                    if (e.which == 13) {
                        getBotResponse();
                    }
                });
            </script>
        </div>
    </div>
</body>
</html>